[{kernel, 
	[{start_timer, true}, {start_pg2, true}]},
 %% SASL config
 {sasl, [
         {sasl_error_logger, {file, "log/sesnmp_sasl.log"}},
        ]},
 {sesnmp,
        [{pool_size, 10},
        {versions, [v1, v2c]}, 
        %{trapd, [{handler, trapd}, {port, 5162}]}, 
        {net_if, [{sndbuf, 614400}, {recbuf, 614400}, {no_reuse, false}, {bind_to, any}]}]}
].
