{sys, [
       {lib_dirs, ["../../"]},
       {erts, [{mod_cond, derived}, {app_file, strip}]},
       {app_file, strip},
       {rel, "sesnmp", "2.0",
        [
         kernel,
         stdlib,
         sasl,
		 snmp,
         sesnmp
        ]},
       {rel, "start_clean", "",
        [
         kernel,
         stdlib
        ]},
       {boot_rel, "sesnmp"},
       {profile, embedded},
       {incl_cond, exclude},
       {excl_archive_filters, [".*"]}, %% Do not archive built libs
       {excl_sys_filters, ["^bin/.*", "^erts.*/bin/(dialyzer|typer)",
                           "^erts.*/(doc|info|include|lib|man|src)"]},
       {excl_app_filters, ["\.gitignore"]},
       {app, kernel, [{incl_cond, include}]},
       {app, stdlib, [{incl_cond, include}]},
       {app, sasl,   [{incl_cond, include}]},
       {app, snmp,   [{incl_cond, include}]},
       {app, sesnmp, [{incl_cond, include}]}
      ]}.

{target_dir, "sesnmp"}.

{overlay, [
           {mkdir, "log/sasl"},
           {copy, "files/erl", "\{\{erts_vsn\}\}/bin/erl"},
           {copy, "files/nodetool", "\{\{erts_vsn\}\}/bin/nodetool"},
           {copy, "files/sesnmp", "bin/sesnmp"},
           {copy, "files/sys.config", "etc/app.config"},
           {copy, "files/sesnmp.cmd", "bin/sesnmp.cmd"},
           {copy, "files/start_erl.cmd", "bin/start_erl.cmd"},
           {copy, "files/vm.args", "etc/vm.args"}
          ]}.
